* {
  margin: 0;
}

header {
  background-color: #CF4647;
  color: white;
  width: 100%;
  padding-top: 20px;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.container img {
  height: 35px;
}

.container nav {
  display: flex;
  padding-top: 5px;
  width: 300px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container h1 {
  padding-top: 120px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}

.container .computer {
  background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgb(221, 226, 232) 100%);
  width: 640px;
  height: 448px;
  border-radius: 18px;
  margin: auto;
  margin-top: 60px;
  color: rgb(133, 255, 0);
  font-family: Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
  font-size: 14pt;
  overflow-y: hidden;
  box-shadow: inset 0 2px 7px 1px rgba(255,255,255,.5), inset 0 -5px 20px rgba(187,200,225,.35), 0 2px 6px rgba(40,39,66,.14), 0 10px 20px rgba(40,39,66,.06), 76px 75px 169px -35px rgba(0,0,0,0.4);
}

.container .computer .screen {
  background-color: rgb(0, 43, 54);
  width: 590px;
  height: 383px;
  margin: 25px;
  border-radius: 18px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 15px;
}

.container .computer .screen span {
    white-space: nowrap;
    padding-left: 20px;
}

.container .keyboard {
  width: 880px;
  height: 16px;
  background-color: blue;
  border-radius: 0 0 40px 40px;
  background: #dde2e9;
  box-shadow: inset 0px -25px 10px -20px rgba(0,0,0,.5);

}

.container .keyboard div {
    width: 100%;
    height: 10px;
    border-radius: 0 0 6px 6px;
    background: linear-gradient(to right, rgba(246,250,253,1) 0%,rgba(221,226,233,1) 6%,rgba(246,250,253,1) 15%,rgba(246,250,253,1) 42%,rgba(230, 230, 230, 1) 42%,rgba(246,250,253,1) 45%,rgba(246,250,253,1) 53%,rgba(230, 230, 230, 1) 56%,rgba(246,250,253,1) 56%, rgba(246,250,253,1) 85%,rgba(221,226,233,1) 94%,rgba(246,250,253,1) 100%);
}

.container .text {
  margin: auto;
  margin-top: 60px;
  text-align: center;
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}

.button {
  margin-top: 40px;
  background-color: #fff;
  height: 40px;
  margin-bottom: 40px;
  line-height: 38px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  border: 1px solid white;
  color: #CF4647;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.features {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
}

.features img {
  margin-bottom: 30px;
}

.features span {
  margin-top: 10px;
  color: rgba(0, 0, 0, .5);
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
  text-align: justify;
}

.features div {
  width: 320px;
}

.browser {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.atom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.code {
  background-color: #3A3E64;
  width: 100%;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 90px;
}

.editor {
  margin-left: 92.5px;
  margin-right: 92.5px;
  color: rgba(255, 255, 255, 0.6);
  word-break: normal;
}

.editorHeader {
  height: 50px;
  border-radius: 5px 5px 0 0;
  align-items: center;
  background-color: #E5E4E4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.editorHeader div {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: 2px;
}

.editorHeader span {
  color: #141414;
  font-family: Menlo, 'DejaVu Sans Mono', 'Lucida Console', monospace;
  font-size: 12pt;
  font-weight: 600;
  margin-left: 10px;
}

.editorScreen {
  background-color: #141414;
  overflow-x: auto;
  border-radius: 0 0 5px 5px;
  padding-left: 20px;
  padding-top: 20px;
  font-family: Menlo, 'DejaVu Sans Mono', 'Lucida Console', monospace;
  font-size: 14pt;
}

.quote, footer {
  display: flex;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  flex-direction: column;
}

.bigText {
  margin: auto;
  max-width: 700px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  text-align: center;
}

.smallText {
  margin-top: 10px;
  color: rgba(0, 0, 0, .5);
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
  margin: auto;
  text-align: center;
}

footer {
  background-color: #CF4647;
}

footer .bigText {
  color: white;
}

footer .smallText {
  color: white;
}

footer .button {
  margin: auto;
  margin-top: 35px;
}

@media screen and (max-width: 900px) {
  .container h1 {
    padding-top: 60px;
    font-size: 32px;
  }
  .container .computer {
    margin-top: 60px;
    width: 100%;
    padding: 20px;
    height: calc((100vw - 80px) * .75);
  }
  .container .computer .screen {
    margin: auto;
    width: 100%;
    height: calc((100vw - 80px) * .75);
  }
  .container .keyboard {
    width: 100vw;
  }
}

@media screen and (max-width: 500px) {
  .container img {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .container .computer {
    font-size: 13pt;
    overflow-x: auto;
  }
  .container .computer span {
    overflow-x: auto;
  }
  .editor {
    font-size: 13px;
  }
}

@media screen and (max-width: 440px) {
  .button {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .features {
    width: 100%;
    flex-direction: column;
  }
  .features div {
    margin: auto;
  }
  .browser span {
    width: 100%;
  }
}
